services:
  app:
    build: .
    environment:
      PASTE_CONFIG: /app/paste.conf
      MOJO_LOG_LEVEL: info
      DB_NAME: ${DB_NAME:-paste}
      DB_USER: ${DB_USER:-paste}
      DB_PASSWORD: ${DB_PASSWORD:-paste}
      DB_HOST: ${DB_HOST:-db}
      DB_PORT: ${DB_PORT:-5432}
      GITLAB_SITE: ${GITLAB_SITE:-}
      GITLAB_CLIENT_ID: ${GITLAB_CLIENT_ID:-}
      GITLAB_CLIENT_SECRET: ${GITLAB_CLIENT_SECRET:-}
      PASTE_SECRET: ${PASTE_SECRET:-change_me_please}
      MOJO_MODE: production
      MOJO_REVERSE_PROXY: 1
    volumes:
      - ./paste.conf:/app/paste.conf:ro
    ports:
      - "3000:3000"
  iocane:
    image: git.madhouse-project.org/iocaine/iocaine:3
    ports:
      - "8923:42069"
    volumes:
      - ./docker/iocaine:/etc/iocaine:ro
      - iocaine-state:/run/iocaine
    environment:
      - RUST_LOG=info
    command: --config-path /etc/iocaine/config.d
    depends_on:
      - app

volumes:
  iocaine-state: