services:
  app:
    build: .
    environment:
      PASTE_CONFIG: /app/paste.conf
      MOJO_LOG_LEVEL: info
      DB_NAME: ${DB_NAME:-paste}
      DB_USER: ${DB_USER:-paste}
      DB_PASSWORD: ${DB_PASSWORD:-paste}
      DB_HOST: ${DB_HOST:-db}
      DB_PORT: ${DB_PORT:-5432}
      GITLAB_SITE: ${GITLAB_SITE:-}
      GITLAB_CLIENT_ID: ${GITLAB_CLIENT_ID:-}
      GITLAB_CLIENT_SECRET: ${GITLAB_CLIENT_SECRET:-}
      PASTE_SECRET: ${PASTE_SECRET:-change_me_please}
    volumes:
      - ./paste.conf:/app/paste.conf:ro
    ports:
      - "3000:3000"
  anubis:
    image: ghcr.io/techarohq/anubis:latest
    ports:
      - "8923:8923"
    environment:
      TARGET: http://app:3000
    depends_on:
      - app