services:
  app:
    image: ghcr.io/formorer/paste.pl:${IMAGE_TAG:-latest}
    environment:
      PASTE_CONFIG: /app/paste.conf
      CMD_TEST: "0"
      MOJO_LOG_LEVEL: info
      DB_HOST: ${DB_HOST:-db}
      DB_PORT: ${DB_PORT:-5432}
      GITLAB_SITE: ${GITLAB_SITE:-}
      GITLAB_CLIENT_ID: ${GITLAB_CLIENT_ID:-}
      GITLAB_CLIENT_SECRET: ${GITLAB_CLIENT_SECRET:-}
    volumes:
      - ./paste.conf:/app/paste.conf:ro
    ports:
      - "3000:3000"
