/*
The cleverer parts of this stylesheet came from
The Layout Reservoir - well worth a look.
http://www.bluerobot.com/web/layouts/
*/

body {
	color:#333;
	background-color: #ffffff;
	margin:0px;
	padding:0px;
	font:11px verdana, arial, helvetica, sans-serif;
}

h1 {
	border-top: 1px solid #3d8ea8;
	border-bottom: 1px solid #005069;
	border-right: 1px solid #3d8ea8;
	border-left: 1px solid #3d8ea8;
	/* background-color: #006b8c; */
	background-color: #DF0451;
	color: #ffffff;
	font-family: trebuchet ms, verdana, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	padding: 3px 0px 3px 10px;
	margin-bottom: 0px;
	margin-top: 0px; 
}
	

p {
	font:11px/20px verdana, arial, helvetica, sans-serif;
	margin:0px 10px 10px 10px;
}


a {
	color:#09c;
	font-size:11px;
	font-family:verdana, arial, helvetica, sans-serif;
	font-weight:600;
	text-decoration:none;
}

a:link {color:#0000FF;}
a:visited {color:#800080;}
a:hover {text-decoration:underline;}
  
a.alt{color:white; text-decoration:underline;font-weight:normal;}
a.alt:link{color:white;}
a.alt:visited{color:white;}
a.alt:hover{color:yellow;background-color:transparent;}

a.code {
	text-decoration:underline; 
	font-family:courier, fixed;
	font-weight:normal;}
a.code:link {color:#0000FF;}
a.code:visited {color:#800080;}
a.code:hover {text-decoration:underline;}

.status {
    width: 400px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000; 
    border-bottom: 1px solid #000000;
    font-size: 14px;
}


#comment {
	font-size: 12px;

}

#comment_header {
	font-size: 12px;
	font-weight: bold;
	padding-top: 4px;
	padding-bottom: 4px;

}

#comment_add {
	padding-top: 6px;
}
code { font-size:12px;}

.codeedit {	font-size:12px;}


#titlebar {
	padding: 0px 0px 0px 5px;
	height:16px;
	border-top: solid 1px #73a5d3;
	border-bottom: solid 1px #39526b;
	background-color: #DF0451;
	color: #fff;
	width: 100%; 
	margin-bottom: 11px;
}

.nav { margin: 0px 5px 0px 5px; }
	
li.highlight{ background-color: #ccccff; }

ul {
	margin-left:15px;
	margin-top:0px;
	padding-left:0px;
}

/*
li {
	list-style-type: square;
	line-height: 11px;
	padding-bottom: 3px;
}
*/

#Content>p {margin:0px;}
#Content>p+p {text-indent:30px;}

#content {
	margin:0px 5px 50px 185px;
	padding:5px;
	background-color: white;
	border:1px solid black;
}

#menu {
	position:absolute;
	top:105px;
	left:10px;
	width:162px;
	padding:5px;
	background-color: white;
	border:1px solid black;
	line-height:17px;
	overflow: hidden;

	/* IE5 Hack */
	voice-family: "\"}\"";
	voice-family:inherit;
	width:155px;
}

/* be nice to Opera 5 */
body>#Menu {width:150px;}
.syntaxtable .hll { background-color: #ffffcc }
.syntaxtable  { background: #f8f8f8; }
.syntaxtable .c { color: #408080; font-style: italic } /* Comment */
.syntaxtable .err { border: 1px solid #FF0000 } /* Error */
.syntaxtable .k { color: #008000; font-weight: bold } /* Keyword */
.syntaxtable .o { color: #666666 } /* Operator */
.syntaxtable .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.syntaxtable .cp { color: #BC7A00 } /* Comment.Preproc */
.syntaxtable .c1 { color: #408080; font-style: italic } /* Comment.Single */
.syntaxtable .cs { color: #408080; font-style: italic } /* Comment.Special */
.syntaxtable .gd { color: #A00000 } /* Generic.Deleted */
.syntaxtable .ge { font-style: italic } /* Generic.Emph */
.syntaxtable .gr { color: #FF0000 } /* Generic.Error */
.syntaxtable .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.syntaxtable .gi { color: #00A000 } /* Generic.Inserted */
.syntaxtable .go { color: #808080 } /* Generic.Output */
.syntaxtable .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.syntaxtable .gs { font-weight: bold } /* Generic.Strong */
.syntaxtable .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.syntaxtable .gt { color: #0040D0 } /* Generic.Traceback */
.syntaxtable .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.syntaxtable .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.syntaxtable .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.syntaxtable .kp { color: #008000 } /* Keyword.Pseudo */
.syntaxtable .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.syntaxtable .kt { color: #B00040 } /* Keyword.Type */
.syntaxtable .m { color: #666666 } /* Literal.Number */
.syntaxtable .s { color: #BA2121 } /* Literal.String */
.syntaxtable .na { color: #7D9029 } /* Name.Attribute */
.syntaxtable .nb { color: #008000 } /* Name.Builtin */
.syntaxtable .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.syntaxtable .no { color: #880000 } /* Name.Constant */
.syntaxtable .nd { color: #AA22FF } /* Name.Decorator */
.syntaxtable .ni { color: #999999; font-weight: bold } /* Name.Entity */
.syntaxtable .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.syntaxtable .nf { color: #0000FF } /* Name.Function */
.syntaxtable .nl { color: #A0A000 } /* Name.Label */
.syntaxtable .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.syntaxtable .nt { color: #008000; font-weight: bold } /* Name.Tag */
.syntaxtable .nv { color: #19177C } /* Name.Variable */
.syntaxtable .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.syntaxtable .w { color: #bbbbbb } /* Text.Whitespace */
.syntaxtable .mf { color: #666666 } /* Literal.Number.Float */
.syntaxtable .mh { color: #666666 } /* Literal.Number.Hex */
.syntaxtable .mi { color: #666666 } /* Literal.Number.Integer */
.syntaxtable .mo { color: #666666 } /* Literal.Number.Oct */
.syntaxtable .sb { color: #BA2121 } /* Literal.String.Backtick */
.syntaxtable .sc { color: #BA2121 } /* Literal.String.Char */
.syntaxtable .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.syntaxtable .s2 { color: #BA2121 } /* Literal.String.Double */
.syntaxtable .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.syntaxtable .sh { color: #BA2121 } /* Literal.String.Heredoc */
.syntaxtable .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.syntaxtable .sx { color: #008000 } /* Literal.String.Other */
.syntaxtable .sr { color: #BB6688 } /* Literal.String.Regex */
.syntaxtable .s1 { color: #BA2121 } /* Literal.String.Single */
.syntaxtable .ss { color: #19177C } /* Literal.String.Symbol */
.syntaxtable .bp { color: #008000 } /* Name.Builtin.Pseudo */
.syntaxtable .vc { color: #19177C } /* Name.Variable.Class */
.syntaxtable .vg { color: #19177C } /* Name.Variable.Global */
.syntaxtable .vi { color: #19177C } /* Name.Variable.Instance */
.syntaxtable .il { color: #666666 } /* Literal.Number.Integer.Long */
