/*
The cleverer parts of this stylesheet came from
The Layout Reservoir - well worth a look.
http://www.bluerobot.com/web/layouts/
*/

body {
	color:#333;
	background-color: #ffffff;
	margin:0px;
	padding:0px;
	font:11px verdana, arial, helvetica, sans-serif;
}

h1 {
	border-top: 1px solid #3d8ea8;
	border-bottom: 1px solid #005069;
	border-right: 1px solid #3d8ea8;
	border-left: 1px solid #3d8ea8;
	/* background-color: #006b8c; */
	background-color: #DF0451;
	color: #ffffff;
	font-family: trebuchet ms, verdana, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	padding: 3px 0px 3px 10px;
	margin-bottom: 0px;
	margin-top: 0px; 
}
	
p {
	font:11px/20px verdana, arial, helvetica, sans-serif;
	margin:0px 10px 10px 10px;
}


a {
	color:#09c;
	font-size:11px;
	font-family:verdana, arial, helvetica, sans-serif;
	font-weight:600;
	text-decoration:none;
}

a:link {color:#0000FF;}
a:visited {color:#800080;}
a:hover {text-decoration:underline;}
  
a.alt{color:white; text-decoration:underline;font-weight:normal;}
a.alt:link{color:white;}
a.alt:visited{color:white;}
a.alt:hover{color:yellow;background-color:transparent;}

a.code {
	text-decoration:underline; 
	font-family:courier, fixed;
	font-weight:normal;}
a.code:link {color:#0000FF;}
a.code:visited {color:#800080;}
a.code:hover {text-decoration:underline;}

.status {
    width: 400px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000; 
    border-bottom: 1px solid #000000;
    font-size: 14px;
}


#comment {
	font-size: 12px;

}

#comment_header {
	font-size: 12px;
	font-weight: bold;
	padding-top: 4px;
	padding-bottom: 4px;

}

#comment_add {
	padding-top: 6px;
}
code { font-size:12px;}

.codeedit {	font-size:12px;}


#titlebar {
	padding: 0px 0px 0px 5px;
	height:16px;
	border-top: solid 1px #73a5d3;
	border-bottom: solid 1px #39526b;
	background-color: #DF0451;
	color: #fff;
	width: 100%; 
	margin-bottom: 11px;
}

.nav { margin: 0px 5px 0px 5px; } 
	
li.highlight{ background-color: #ccccff; }

ul {
	margin-left:15px;
	margin-top:0px;
	padding-left:0px;
}

/*
li {
	list-style-type: square;
	line-height: 11px;
	padding-bottom: 3px;
}
*/

#Content>p {margin:0px;}
#Content>p+p {text-indent:30px;}

#content {
	margin:0px 5px 50px 185px;
	padding:5px;
	background-color: white;
	border:1px solid black;
}

#menu {
	position:absolute;
	top:105px;
	left:10px;
	width:162px;
	padding:5px;
	background-color: white;
	border:1px solid black;
	line-height:17px;
	overflow: hidden;

	/* IE5 Hack */
	voice-family: "}"" ;
	voice-family:inherit;
	width:155px;
}

/* be nice to Opera 5 */
body>#Menu {width:150px;}
td.linenos { background-color: #f0f0f0; padding-right: 10px; }
span.lineno { background-color: #f0f0f0; padding: 0 5px 0 5px; }
pre { line-height: 125%; }
body .hll { background-color: #ffffcc }
body  { background: #f8f8f8; }
body .pygmentc { color: #408080; font-style: italic } /* Comment */
body .pygmenterr { border: 1px solid #FF0000 } /* Error */
body .pygmentk { color: #008000; font-weight: bold } /* Keyword */
body .pygmento { color: #666666 } /* Operator */
body .pygmentcm { color: #408080; font-style: italic } /* Comment.Multiline */
body .pygmentcp { color: #BC7A00 } /* Comment.Preproc */
body .pygmentc1 { color: #408080; font-style: italic } /* Comment.Single */
body .pygmentcs { color: #408080; font-style: italic } /* Comment.Special */
body .pygmentgd { color: #A00000 } /* Generic.Deleted */
body .pygmentge { font-style: italic } /* Generic.Emph */
body .pygmentgr { color: #FF0000 } /* Generic.Error */
body .pygmentgh { color: #000080; font-weight: bold } /* Generic.Heading */
body .pygmentgi { color: #00A000 } /* Generic.Inserted */
body .pygmentgo { color: #808080 } /* Generic.Output */
body .pygmentgp { color: #000080; font-weight: bold } /* Generic.Prompt */
body .pygmentgs { font-weight: bold } /* Generic.Strong */
body .pygmentgu { color: #800080; font-weight: bold } /* Generic.Subheading */
body .pygmentgt { color: #0040D0 } /* Generic.Traceback */
body .pygmentkc { color: #008000; font-weight: bold } /* Keyword.Constant */
body .pygmentkd { color: #008000; font-weight: bold } /* Keyword.Declaration */
body .pygmentkn { color: #008000; font-weight: bold } /* Keyword.Namespace */
body .pygmentkp { color: #008000 } /* Keyword.Pseudo */
body .pygmentkr { color: #008000; font-weight: bold } /* Keyword.Reserved */
body .pygmentkt { color: #B00040 } /* Keyword.Type */
body .pygmentm { color: #666666 } /* Literal.Number */
body .pygments { color: #BA2121 } /* Literal.String */
body .pygmentna { color: #7D9029 } /* Name.Attribute */
body .pygmentnb { color: #008000 } /* Name.Builtin */
body .pygmentnc { color: #0000FF; font-weight: bold } /* Name.Class */
body .pygmentno { color: #880000 } /* Name.Constant */
body .pygmentnd { color: #AA22FF } /* Name.Decorator */
body .pygmentni { color: #999999; font-weight: bold } /* Name.Entity */
body .pygmentne { color: #D2413A; font-weight: bold } /* Name.Exception */
body .pygmentnf { color: #0000FF } /* Name.Function */
body .pygmentnl { color: #A0A000 } /* Name.Label */
body .pygmentnn { color: #0000FF; font-weight: bold } /* Name.Namespace */
body .pygmentnt { color: #008000; font-weight: bold } /* Name.Tag */
body .pygmentnv { color: #19177C } /* Name.Variable */
body .pygmentow { color: #AA22FF; font-weight: bold } /* Operator.Word */
body .pygmentw { color: #bbbbbb } /* Text.Whitespace */
body .pygmentmf { color: #666666 } /* Literal.Number.Float */
body .pygmentmh { color: #666666 } /* Literal.Number.Hex */
body .pygmentmi { color: #666666 } /* Literal.Number.Integer */
body .pygmentmo { color: #666666 } /* Literal.Number.Oct */
body .pygmentsb { color: #BA2121 } /* Literal.String.Backtick */
body .pygmentsc { color: #BA2121 } /* Literal.String.Char */
body .pygmentsd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
body .pygments2 { color: #BA2121 } /* Literal.String.Double */
body .pygmentse { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
body .pygmentsh { color: #BA2121 } /* Literal.String.Heredoc */
body .pygmentsi { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
body .pygmentsx { color: #008000 } /* Literal.String.Other */
body .pygmentsr { color: #BB6688 } /* Literal.String.Regex */
body .pygments1 { color: #BA2121 } /* Literal.String.Single */
body .pygmentss { color: #19177C } /* Literal.String.Symbol */
body .pygmentbp { color: #008000 } /* Name.Builtin.Pseudo */
body .pygmentvc { color: #19177C } /* Name.Variable.Class */
body .pygmentvg { color: #19177C } /* Name.Variable.Global */
body .pygmentvi { color: #19177C } /* Name.Variable.Instance */
body .pygmentil { color: #666666 } /* Literal.Number.Integer.Long */

body { color: black; background: white none }

A:link { color: #00F; background: white none }
A:visited { color: #909; background: white none }
A:hover { color: #F00; background: white none }
A:active { color: #F00; background: white none }

.synComment    { color: #0000FF }
.synConstant   { color: #FF00FF }
.synIdentifier { color: #008B8B }
.synStatement  { color: #A52A2A ; font-weight: bold }
.synPreProc    { color: #A020F0 }
.synType       { color: #2E8B57 ; font-weight: bold }
.synSpecial    { color: #6A5ACD }
.synUnderlined { color: #000000 ; text-decoration: underline }
.synError      { color: #FFFFFF ; background: #FF0000 none }
.synTodo       { color: #0000FF ; background: #FFFF00 none }
pre { display: inline; }


/*Navbar Improvements */
.menu-content {
    padding: 8px;
    margin-bottom: 10px;
    border-left: 1px solid #3d8ea8;
    border-right: 1px solid #3d8ea8;
    border-bottom: 1px solid #005069;
    background-color: #f9f9f9;
}

.action-btn {
    display: block;
    text-align: center;
    background-color: #DF0451; /* Debian Red */
    color: #ffffff !important;
    padding: 8px 6px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
    border: none;
}

.action-btn:hover {
    background-color: #b00340; /* Darker Red */
    color: #ffffff !important;
    text-decoration: none;
}

.action-btn.secondary {
    background-color: #f0f0f0;
    color: #333 !important;
    border: 1px solid #ccc;
}

.action-btn.secondary:hover {
    background-color: #e0e0e0;
    color: #000 !important;
    border-color: #bbb;
}

.user-content {
    text-align: center;
}

.logged-in-user {
    margin-bottom: 5px;
    font-weight: bold;
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 5px;
    word-wrap: break-word;
}

.user-icon {
    font-size: 1.2em;
    vertical-align: middle;
}

.user-links a {
    font-size: 0.9em;
}