http-server "main" {
    bind "0.0.0.0:42069"
    use handler-from="default"
}

declare-handler "default" {
    ai-robots-txt-path "/data/ai.robots.txt-robots.json"
    
    sources {
        training-corpus "/data/corpus/1984.txt" \
                        "/data/corpus/brave-new-world.txt"
        wordlists "/data/corpus/words.txt"
    }
}

