http-server "default" {
    bind "0.0.0.0:42069"
    use handler-from="default"
}

declare-handler "default" {
    unwanted-visitors "DotBot" "Googlebot" "Bingbot" "Slurp" "DuckDuckBot" "Baiduspider" "YandexBot" "Sogou" "Exabot" "facebot" "ia_archiver" "AhrefsBot" "SemrushBot" "MJ12bot" "MegaIndex" "BLEXBot" "ZoomBot" "PetalBot"
}
